In [1]:
Expenses = {"jan":2200,"feb":2350,"mar":2600,"Apr":2130,"May":2190}

In [2]:
diff = Expenses["feb"] - Expenses["jan"]

In [3]:
diff

150

In [4]:
Values = Expenses.values()
List_Values = list(Values)

In [5]:
List_Values

[2200, 2350, 2600, 2130, 2190]

In [6]:
sum = 0
for i in range(3):
    sum = sum + List_Values[i]
    
print(sum)

7150

In [7]:
for i in Expenses.values():
    if(Expenses.values()==2000):
        print("Yes")
    else:
        print("No")

No
No
No
No
No

In [8]:
Expenses['June'] = 1980 # adding new key value to the dictionary

In [9]:
Expenses

{'jan': 2200, 'feb': 2350, 'mar': 2600, 'Apr': 2130, 'May': 2190, 'June': 1980}

In [10]:
Refund = Expenses['Apr'] - 200

In [11]:
Refund

1930

In [12]:
Expenses['Apr'] = Refund

In [13]:
Expenses['Apr']

1930

In [14]:
Expenses

{'jan': 2200, 'feb': 2350, 'mar': 2600, 'Apr': 1930, 'May': 2190, 'June': 1980}

In [15]:
heros=['spider man','thor','hulk','iron man','captain america']

In [16]:
len(heros) # lenght of the list

5

In [17]:
heros.append('black panther')

In [18]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [19]:
heros.insert(3,'black panther')

In [20]:
heros

['spider man',
 'thor',
 'hulk',
 'black panther',
 'iron man',
 'captain america',
 'black panther']

In [21]:
heros.pop(3)

'black panther'

In [22]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [23]:
heros.insert(1,'iron man')

In [24]:
heros

['spider man',
 'iron man',
 'thor',
 'hulk',
 'iron man',
 'captain america',
 'black panther']

In [25]:
del heros[1:3]

In [29]:
heros

['spider man', 'hulk', 'captain america', 'black panther']

In [30]:
heros.pop(1)

'hulk'

In [31]:
heros

['spider man', 'captain america', 'black panther']

In [32]:
heros.insert(1,'doctor strange')

In [34]:
heros

['spider man', 'doctor strange', 'captain america', 'black panther']

In [35]:
sorted_heros = sorted(heros)

In [36]:
sorted_heros

['black panther', 'captain america', 'doctor strange', 'spider man']